@tailwind base;
@tailwind components;
@tailwind utilities;

.nav{

  color: #fff;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.425), 0 0 4px rgba(255, 255, 255, 0.425), 0 0 8px rgba(255, 255, 255, 0.425), 0 0 32px rgba(0, 255, 255, 0.425), 0 0 64px rgba(0, 255, 255, 0.425), 0 0 90px rgba(0, 255, 255, 0.425);
  font-family: 'Piedra', cursive; 
   /* font-size: 50px; */
   font-size: 20px;
  font-weight: 200;
  /* letter-spacing: 8px; */


  color: #fff;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.425), 0 0 4px rgba(255, 255, 255, 0.425), 0 0 8px rgba(255, 255, 255, 0.425), 0 0 32px rgba(0, 255, 255, 0.425), 0 0 64px rgba(0, 255, 255, 0.425), 0 0 90px rgba(0, 255, 255, 0.425);
  font-family: 'Piedra', cursive;
  font-size: 20px;
  font-weight: 200;

  letter-spacing: 5px;
  margin-bottom: 2px;
  margin-top: 2px;
  background: #456e976c;
  border-radius: 5px;
  position: relative;
  animation: text 3s 1;


  background: linear-gradient(45deg, #0b0d21,#2b033b);
  color:#ff2963;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 6rem;

  padding: 0 rem;

  padding: 0rem;

 
}
.title{
  font-size: 2.2rem;

}

.nav a{
  color:inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;

}
.nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;

  gap:  3rem;

  gap: 3rem;


}


.nav li:hover{
  background-color: #777;
}